name: Node.js Publish UI Packages

on:
  push:
    branches: 
      # Push events on main branch
      - 'master'
      # Push events to branches matching refs/heads/mona/octocat
      - 'UAT'
      - 'MUKTA-v2.1-Develop'
      - 'MUKTA-DEVELOP-v2.1.1'
      - 'MUKTA-DEVELOP-v2.1.1-UI-UX-FIXES'
    paths:
      - 'frontend/micro-ui/web/micro-ui-internals/**'
  pull_request:
    branches: 
      # Push events on main branch
      - 'master'
      # Push events to branches matching refs/heads/mona/octocat
      - 'develop'
      # Push events to branches matching refs/heads/releases/10
      - 'MUKTA-v2.1-Develop' 
      # Push events to branches matching refs/heads/releases/10
      - 'MUKTA-DEVELOP-v2.1.1'
    paths:
      - 'frontend/micro-ui/web/micro-ui-internals/**'
 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
          registry-url: https://registry.npmjs.org/
      - run: cd frontend/micro-ui/web/micro-ui-internals/ && bash ./publish.sh
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
